body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginForm {
display: flex;
justify-content: center;
}

.loginForm > form {
  border: 3px solid green;
  padding: 1em;
  margin-top: 2em;
}

.navBar {
  background-color: lightgray;
  display: flex;
  font-weight: 600;
  height: 4em;
  width: 100%;
}

.navBar > .leftNav > a > img {
  height: 75%;
  justify-content: left;
  padding: .5em 2em;
}

.navBar > .rightNav {
 margin-left: auto;
 padding: .5em 2em;

}

.navBar > .rightNav > a {
  padding: .5em;
  
 }